<div class="row container-search">
	<h4 class="title-search">Pesquise pelo Paciente</h4>
	<div class="input-field col s10 push-s1">
        <input placeholder="Digite aqui o Nome ou CPF do paciente" id="valueSearch" type="text" ng-model="valueSearch">
    	<a class="waves-effect waves-light btn btn-search" ng-click="loadUserPatients()">PESQUISAR</a>
    </div>
</div>
<div class="row container-result-search">
	<div class="row" ng-show="isLoading">
		<div class="main-preloader-search">
			<div class="preloader-wrapper active">
		      <div class="spinner-layer spinner-teal-only">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		      </div>
		  	</div>
	  	</div>
	  	<div class="main-message-search">
	  		<span class="message-load-search">{{loadingMessage}}</span>
	  	</div>
  	</div>
  	<div class="col s10 push-s1" ng-show="isSuccess">
  		<table ng-show="(users.length>0)" class="table-customization striped">
	        <thead>
	          <tr>
	              <th data-field="nome">Nome</th>
	              <th data-field="email">Email</th>
	          </tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="user in users">
	        		<td>{{user.nome}}</td>
	            	<td>douglasjvah@gmail.com</td>
	        	</tr>
	        </tbody>
      </table>
  	</div>
	<pattern-error ng-show="isError" message="errorMessage" action="tryAgain"></pattern-error>
</div>
