<div class="row">
    <div class="col s12">
	    <div class="card white" ng-class="{'card-consultations': consultations.length>3}">
	    	<div class="card-content black-text content-consultations">
		    	<span class="card-title">Consultas</span>
		    	<table class="striped">
			        <thead>
			          <tr>
			              <th data-field="date">Data</th>
			              <th data-field="weight">Peso</th>
			              <th data-field="imc">IMC</th>
			              <th data-field="cc">CC</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-repeat="consult in consultations">
			            <td>{{consult.data}}</td>
			            <td>{{consult.peso}}</td>
			            <td>{{consult.imc| number}}</td>
						<td>{{consult.circunferenciaCintura}}</td>
						<td><i class="tiny material-icons">description</i></td>
						<td><i class="tiny material-icons">mode_edit</i></td>
						<td><i class="tiny material-icons">insert_chart</i></td>
			          </tr>
			        </tbody>
			    </table>
			      
			</div>
			<div>
				<a class="waves-effect waves-teal btn-flat btn-all-consultations">Ver todas</a>
			</div>
	    </div>
    </div>
</div>