<div class="row">
    <div class="col s12">
	    <div class="card white">
	    	<div class="card-content black-text">
		    	<span class="card-title">Informações</span>
		    	<div>
		    		<img src="img/pp.jpg" alt="" class="circle responsive-img img-information-patient">
		    	</div>
		    	<span class="titles-center-card name-information-patient">{{person.nome}}</span>
		    	<span class="titles-center-card sex-information-patient">{{person.sexo}}</span>
		    	<span class="titles-center-card email-information-patient">{{person.email}}</span>
		    	<div class="row-age">
		    		<span class="titles-information-patient">Data Nascimento</span>
		    		<span class="values-information-patient">{{person.dataNascimento}}</span>
		    	</div>
		    	<div class="row-age">
		    		<span class="titles-information-patient">Telefone</span>
		    		<span class="values-information-patient">{{person.telefone}}</span>
		    	</div>
			</div>
	    </div>
    </div>
</div>